@model List<int>

<head>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Газ', 'Объём'],
                ['Отгул', @Model[0]],
                ['Болезнь', @Model[1]],
                ['Отпуск',  @Model[2]],
                ['Другое',  @Model[3]],
            ]);
            var option s = {
                title: 'Количество пропусков',
                is3D: true,
                pieResidueSliceLabel: 'Остальное'
            };
            var chart = new google.visualization.PieChart(document.getElementById('air'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <div id="air" style="width: 500px; height: 400px;"></div>
</body>