@model WTCnt.Models.ProjectsViewModel

<head>

</head>
<body>
    <div style="text-align:center">
        <center>
            <h1>Добавить проект</h1>
            <hr />
            <div>
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Prject.Name" class="control-label">Имя</label>
                            <input asp-for="Prject.Name" class="form-control" />
                            <span asp-validation-for="Prject.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prject.EndDate" class="control-label">Срок сдачи</label>
                            <input asp-for="Prject.EndDate" class="form-control" />
                            <span asp-validation-for="Prject.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prject.UserOwner" class="control-label">Руководитель</label>
                            <select asp-for="Prject.UserOwner" class="form-control">
                                @foreach (var item in Model.Users)
                                {
                                    <option value="@item.ID">@item.Name @item.Surname</option>
                                }
                            </select>
                            <span asp-validation-for="Prject.UserOwner" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Добавить" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </center>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
