<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WTCnt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <img src="~/files/winpharma.png" />
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Меню</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Tasks" asp-action="Index">Отгулы</a>
                    @if (!User.IsInRole("Администратор"))
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="WorkTasks" asp-action="Index">Мои задачи</a>
                        <a class="navbar-brand" asp-area="" asp-controller="News" asp-action="Index">Новости </a>
                        <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="LK">Личный кабинет и моя статистика</a>
                    }
                    @if (User.IsInRole("Администратор"))
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Prjects" asp-action="Index">Мои проекты</a>
                        <a class="navbar-brand" asp-area="" asp-controller="News" asp-action="Create">Добавить новость</a>
                        <a class="navbar-brand" asp-area="" asp-controller="Usrs" asp-action="Index">Пользователи</a>
                        <a class="navbar-brand" asp-area="" asp-controller="WorkTasks" asp-action="IndexForAdmin">Задачи</a>
                        <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="LK">Личный кабинет</a>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main"> 
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:white">
        <div class="container" style="background-color:white">
            &copy; 2022 - Диплом - <a href="https://vk.com/id301343800">Саня Борисов</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
